<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>404 page not found</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="The most powerful Coming Soon / Errors / Domain For Sale template">
	<meta name="keywords" content="Enter, your, keywords">
	<link href="/404 page/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" href="/404 page/css/bootstrap.min.css">
	<link rel="stylesheet" href="/404 page/css/style.css">
</head>
<body>
  	<div id="world"></div>

	<div class="container">
	    <div class="row">
	      <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
	        <div class="content">
	          <a class="logo" href="/">
	            <img src="/404 page/images/logo.png" />
	          </a>
	          <h1>404</h1>
	          <h2>Liên  kết bạn tìm kiếm không tồn tại</h2>
	          <a class="btn" href="/">
	            Quay về Trang Chủ
	          </a>
	        </div>
	      </div>
	    </div>
	</div>
	<script src='/404 page/js/three.min.js'></script>
	<script  src="/404 page/js/index.js"></script>
</body>
</html>
