<div class="user-chat w-100">
  <div class="d-lg-flex">

      <!-- start chat conversation section -->
      <%- include('chat_frame/chat_frame.ejs') %> 
      <!-- end chat conversation section -->

      <!-- start User profile detail sidebar -->
      <%- include('user_profile/user_profile.ejs') %> 
      <!-- end User profile detail sidebar -->
  </div>
</div>