<div class="p-3 p-lg-4 border-top mb-0" style="position:relative;">
  <div class="preview-file-attachment" style="display: none;">
      
  </div>
  <div class="row no-gutters">
      <div class="col">
          <div>
              <input id="input-user-chat-input" type="text" class="form-control form-control-lg bg-light border-light" placeholder="Enter Message...">
          </div>
      </div>
      <div class="col-auto">
          <div class="chat-input-links ml-md-2">
              <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <button id="btn-chat-emoiji" type="button" class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect" data-toggle="tooltip" data-placement="top" title="Emoji">
                            <i class="ri-emotion-happy-line"></i>
                        </button>
                    </li>
                    <li class="list-inline-item">  
                        <button id="btn-user-send-attachment-file" type="button" class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect" data-toggle="tooltip" data-placement="top" title="Attached File">
                            <i class="ri-attachment-line"></i>
                        </button>
                        <input id="sub-btn-user-send-attachment-file" style="display: none;" name="fileInput" multiple size="60" type="file"  class="form-control-file">
                    </li>
                    <li class="list-inline-item">  
                        <button id="btn-user-send-image" type="button" class="btn btn-link text-decoration-none font-size-16 btn-lg waves-effect" data-toggle="tooltip" data-placement="top" title="Attached File">
                            <i class="ri-image-fill"></i>
                        </button>
                        <input id="sub-btn-user-send-image" style="display: none;" accept="image/*" name="fileInput" multiple size="60" type="file"  class="form-control-file">
                    </li>   
                    <li class="list-inline-item">
                        <button id="btn-send-chat" class="btn btn-primary font-size-16 btn-lg chat-send waves-effect waves-light">
                            <i class="ri-send-plane-2-fill"></i>
                        </button>
                    </li>
              </ul>
          </div>
          
      </div>
  </div>
</div>