.result-search-friend::-webkit-scrollbar {
  width: 6px;
}

.result-search-friend::-webkit-scrollbar-track {
  background: white;
}

.result-search-friend::-webkit-scrollbar-thumb {
  background: #e8edf7;
  border-radius: 10px;
}

.result-search-friend::-webkit-scrollbar-thumb:hover {
  background: #7269ef;
}

.result-search-friend{
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  position: relative;
  display: none;
  
  .friend{
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    min-height: 75px;
    
    .left{
      width: 20%;
      min-width: 50px;
      .friend-avatar{
        width: 100%;
        border-radius: 50%;
        img{
          height: 4rem;
          border-radius: 50%;
          width: 4rem;
        }
      }
    }
    .between{
      width: 60%;
      height: auto;
      border-bottom: 1px solid #85858863;
      .name{
        margin-top: 10px;
        color: #7269ef;
        font-size: 15px;
        padding-bottom: 10px;
      }
      .class-name{
        font-size: 14px;
      }
      .address{
        font-size: 13px;
      }
    }
    .right{
      width: 20%;
      height: auto;
      .btn-add-friend{
        width: 70px;
        height: 35px;
        background-color: #7269ef;
        color: white;
        cursor: pointer;
        line-height: 35px;
        display: block;
        text-align: center;
        border-radius: 5px;
      }
      .btn-cancel-add-friend{
        width: 70px;
        height: 35px;
        background-color: #ef4970;
        color: white;
        cursor: pointer;
        line-height: 35px;
        display: none;
        text-align: center;
        border-radius: 5px;
      }
    }
  }
}

.list-notify-list-req-contact{
  >div{
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 80px);
    
    .list-title{
      display: flex;
      justify-content: center;
      height: auto;
      button{
        height: 35px;
        h5{font-size: 16px; text-align: center; color: white;}
      }
      h5{font-size: 16px; text-align: center;}
    }

  }
 
  #list-notice-received{
    
  }
  #list-contacts-sent{
    display: none;
  }
  #list-contacts-received{
    display: none;
  }

}

.friend-item {
  padding: 5px 20px; 
  cursor: pointer;
  transition: all .4s;
}

.notification-not-read{
  background-color: var(--light)
}

.lazy-load{
  width: 364px;
  height: 65px;
  display: flex;
  justify-content:  space-between;
  align-items: center;

  .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0 60px 0 20px;

    .left{
      position: relative;
      height: 38px;
      width: 38px;
      background-color: #abb4d2;
      border-radius: 50%;
      overflow: hidden;
    }
  
    .right{
      width: 215px;
      height: 11px;
      background-color: #abb4d2;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
    }
  
    .left::after, .right::after{
      content: '';
      position: absolute;
      height: 100%;
      width: 20px;
      background-color: #fafafa54;
      top: 0;
      left: 0;
      transform: skewX(-20deg);
      animation: lazyload 1.5s infinite;
    }
  
    @keyframes lazyload {
      from {left: 0px;}
      to {left: 105%;}
      }
  }
}







