<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Đăng ký | Pinet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap-dark.min.css" id="bootstrap-dark-style" rel="stylesheet" type="text/css" />
        <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app-dark.min.css" id="app-dark-style" rel="stylesheet" type="text/css" />
        <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <!-- Css loading modal -->
        <link rel="stylesheet" href="/custom/css/three-dots.min.css">

    </head>

    <body>
        
        <style>
            .loading{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #00000047;
                z-index: 1000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
        <div class="loading">
            <div class="dot-carousel"></div>
        </div>

        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="text-center mb-4">
                            <a href="/" class="auth-logo mb-5 d-block">
                                <img src="/assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
                                <img src="/assets/images/logo-light.png" alt="" height="30" class="logo logo-light">
                            </a>

                            <h4>Đăng ký</h4>
                            <p class="text-muted mb-4">Với Pinet tạo tài khoản chưa bao giờ dễ đến vậy</p>
                            
                        </div>

                        <div class="card">
                            <div class="card-body p-4">
                                <div class="p-3">
                                    <form action="javascript:void(0);">

                                        <div class="form-group" id="email-input-group">
                                            <label>Email</label>
                                            <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text border-light text-muted">
                                                        <i class="ri-mail-line"></i>
                                                    </span>
                                                </div>
                                                <input autofocus id="user_input_email" class="form-control bg-soft-light border-light" placeholder="Nhập vào Email của bạn">
                                                
                                            </div>
                                        </div>
    
                                        <div class="form-group" id="name-account-input-group">
                                            <label>Tài khoản</label>
                                            <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text border-light text-muted">
                                                        <i class="ri-user-2-line"></i>
                                                    </span>
                                                </div>
                                                <input type="text" id="user_input_username" class="form-control bg-soft-light border-light" placeholder="Nhập vào tên tài khoản">
                                                
                                            </div>
                                        </div>

                                        <div class="form-group mb-4" id="password-input-group">
                                            <label>Mật khẩu</label>
                                            <div class="input-group mb-3 bg-soft-light input-group-lg rounded-lg">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text border-light text-muted">
                                                        <i class="ri-lock-2-line"></i>
                                                    </span>
                                                </div>
                                                <input  id="user_input_password" type="password" class="form-control bg-soft-light border-light" placeholder="Nhập vào mật khẩu của bạn">
                                                
                                            </div>
                                        </div>


                                        <div>
                                            <button id="btn-submit-register" class="btn btn-primary btn-block waves-effect waves-light">Đăng ký</button>
                                        </div>

                                        <div class="mt-4 text-center">
                                            <p class="text-muted mb-0">Đọc điều khoản sử dụng của chúng tôi <a href="#" class="text-primary">tại đây.</a></p>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <p>Bạn đã có tài khoản ? <a href="/login" class="font-weight-medium text-primary"> Đăng nhập </a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- JAVASCRIPT -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>

        <script src="/assets/js/app.js"></script>

        <!-- CUSTOM JS -->
        <script src="/custom/js/auth_page/user_register.js"></script>

    </body>
</html>
