<div class="tab-pane" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
  <div class="title-top">
      <ul>
          <li title="Thông báo">
              <i class="fa fa-bell-o" aria-hidden="true"></i>
              <span class="badge badge-soft-danger badge-pill">01</span>
          </li>
          <li title="Lời mời kết bạn nhận được">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              <span class="badge badge-soft-danger badge-pill">01</span>
          </li>
          <li title="Lời mời kết bạn đã gửi">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              <span class="badge badge-soft-danger badge-pill">01</span>
          </li>
      </ul>
  </div>
  <div class="wrap-content"></div>
</div>