<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Chat | Chatvia - Responsive Bootstrap 4 Chat App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Responsive Bootstrap 4 Chat App" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!-- magnific-popup css -->
        <link href="/assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

        <!-- owl.carousel css -->
        <link rel="stylesheet" href="/assets/libs/owl.carousel//assets/owl.carousel.min.css">

        <link rel="stylesheet" href="/assets/libs/owl.carousel//assets/owl.theme.default.min.css">

        <!-- Bootstrap Css -->
        <link href="/assets/css/bootstrap-dark.min.css" id="bootstrap-dark-style" rel="stylesheet" type="text/css" />
        <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="/assets/css/app-dark.min.css" id="app-dark-style" rel="stylesheet" type="text/css" />
        <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <!-- Font awesome4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- My css add new -->
        <link rel="stylesheet" href="/assets/css/mycss.css">

        <!-- alertify style -->
        <link rel="stylesheet" href="/alertify/alertify.css" />
        <link rel="stylesheet" href="/alertify/themes/default.min.css" />

        <!-- custom css -->
        <link rel="stylesheet" href="/custom/css/three-dots.min.css">
        <link rel="stylesheet" href="/custom/css/custom.css">
    </head>

    <body>
        <!-- loadding modal start -->
        <%- include("../loading_modal/loading") %> 
        <!-- loadding modal end -->


        <div class="layout-wrapper d-lg-flex">

            <!-- Start left sidebar-menu -->
            <%- include('left_sidebar_menu/left_sidebar_menu.ejs') %> 
            <!-- end left sidebar-menu -->

            <!-- start chat-leftsidebar -->
            <%- include('chat_leftsidebar/chat_leftsidebar.ejs') %> 
            <!-- end chat-leftsidebar -->

            <!-- Start User chat -->
            <%- include('user_chat_frame/user_chat_frame.ejs') %> 
            <!-- End User chat -->
        </div>
        <!-- end  layout wrapper -->

        <!-- JAVASCRIPT -->
        <script src="/assets/libs/jquery/jquery.min.js"></script>
        <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="/assets/libs/node-waves/waves.min.js"></script>

        <!-- Magnific Popup-->
        <script src="/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>

        <!-- owl.carousel js -->
        <script src="/assets/libs/owl.carousel/owl.carousel.min.js"></script>

        <!-- page init -->
        <script src="/assets/js/pages/index.init.js"></script>
        <script src="/assets/js/app.js"></script>

        <!-- alertify javascript -->
        <script src="/alertify/alertify.min.js"></script>

        <!-- socket io -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- custom javascript -->
        <script src="/custom/js/home_page/index.js"></script>
        <script src="/custom/js/home_page/user_setting/user_upload_avatar.js"></script>
        <script src="/custom/js/home_page/user_setting/user_update_profile.js"></script>
        <script src="/custom/js/home_page/friends/search_friends.js"></script>
        <script src="/custom/js/home_page/friends/add_friend.js"></script>
        <script src="/custom/js/home_page/friends/accept_contact.js"></script>
   
    </body>
</html>
