<div class="px-4 pb-4" dir="ltr">

  <div class="owl-carousel owl-theme" id="user-status-carousel">
      <div class="item">
          <a href="#" class="user-status-box">
              <div class="avatar-xs mx-auto d-block chat-user-img online">
                  <img src="/assets/images/users/avatar-2.jpg" alt="user-img" class="img-fluid rounded-circle">
                  <span class="user-status"></span>
              </div>

              <h5 class="font-size-13 text-truncate mt-3 mb-1">Patrick</h5>
          </a>
      </div>
      <div class="item">
          <a href="#" class="user-status-box">
              <div class="avatar-xs mx-auto d-block chat-user-img online">
                  <img src="/assets/images/users/avatar-4.jpg" alt="user-img" class="img-fluid rounded-circle">
                  <span class="user-status"></span>
              </div>

              <h5 class="font-size-13 text-truncate mt-3 mb-1">Doris</h5>
          </a>
      </div>

      <div class="item">
          <a href="#" class="user-status-box">
              <div class="avatar-xs mx-auto d-block chat-user-img online">
                  <img src="/assets/images/users/avatar-5.jpg" alt="user-img" class="img-fluid rounded-circle">
                  <span class="user-status"></span>
              </div>

              <h5 class="font-size-13 text-truncate mt-3 mb-1">Emily</h5>
          </a>
      </div>

      <div class="item">
          <a href="#" class="user-status-box">
              <div class="avatar-xs mx-auto d-block chat-user-img online">
                  <img src="/assets/images/users/avatar-6.jpg" alt="user-img" class="img-fluid rounded-circle">
                  <span class="user-status"></span>
              </div>

              <h5 class="font-size-13 text-truncate mt-3 mb-1">Steve</h5>
          </a>
      </div>

      <div class="item">
          <a href="#" class="user-status-box">
              <div class="avatar-xs mx-auto d-block chat-user-img online">
                  <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                      T
                  </span>
                  <span class="user-status"></span>
              </div>

              <h5 class="font-size-13 text-truncate mt-3 mb-1">Teresa</h5>
          </a>
      </div>

  </div>
  <!-- end user status carousel -->
</div>