<div class="tab-pane" id="pills-contacts" role="tabpanel" aria-labelledby="pills-contacts-tab">
  <!-- Start Contact content -->
  <div>
      <div class="p-4">
          <div class="user-chat-nav float-right">
              <div data-toggle="tooltip" data-placement="bottom" title="Add Contact">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal" data-target="#addContact-exampleModal">
                      <i class="ri-user-add-line"></i>
                  </button>
              </div>
          </div>
          <h4 class="mb-4">Danh sách bạn bè</h4>

          <!-- Start Add contact Modal -->
          <div class="modal fade" id="addContact-exampleModal" tabindex="-1" role="dialog" aria-labelledby="addContact-exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title font-size-16" id="addContact-exampleModalLabel">Thêm bạn bè</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body p-4">
                          <form action="javascript:void(0);">
                              <div class="form-group mb-4">
                                  <label for="addcontactemail-input">Tên hoặc Email</label>
                                  <input type="text" class="form-control" id="search-friend-input" placeholder="Tìm kiếm bạn bè">
                              </div>
                              <div class="result-search-friend" >
                                <p id="search-friend-not-fond" style="color:#7269ef; display: none; text-align: center;">Không tìm thấy kết quả phù hợp</p>
                                <div class="loading">
                                    <div class="dot-carousel"></div>
                                </div>

                                <!-- <div class="friend">
                                    <div class="left">
                                      <div id="avatar-search-friend" class="friend-avatar">
                                          <img src="/assets/images/users/r04d7fiybxz-1598929498329-234678.jpg" alt="">
                                      </div>
                                    </div>
                                    <div class="between">
                                      <h5 class="name">Vũ Thu Hằng</h5>
                                      <p class="address">
                                          Xóm nam 1 - Úc Kỳ - Phú Bình - Thái nguyên
                                        </p>
                                      <p class="class-name">
                                          Thương mại điện tử K17A
                                        </p>
                                    </div>
                                    <div class="right">
                                        <div class="btn-add-friend">Thêm</div>
                                        <div class="btn-cancel-add-friend">Thêm</div>
                                    </div>
                                </div> -->
                                
                              </div>
                              <!-- <div class="form-group">
                                  <label for="addcontact-invitemessage-input">Invatation Message</label>
                                  <textarea class="form-control" id="addcontact-invitemessage-input" rows="3" placeholder="Enter Message"></textarea>
                              </div> -->
                          </form>
                      </div>
                      <div class="modal-footer">
                          <button id="btn-close-search-friends" type="button" class="btn btn-link" data-dismiss="modal">Đóng</button>
                          <button id="btn-search-friends" type="button" class="btn btn-primary">Tìm kiếm</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Add contact Modal -->

          <!-- Start search-box -->
          <div class="search-box chat-search-box">
              <div class="input-group bg-light  input-group-lg rounded-lg">
                  <div class="input-group-prepend">
                      <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
                          <i class="ri-search-line search-icon font-size-18"></i>
                      </button>
                  </div>
                  <input type="text" class="form-control bg-light " placeholder="Search users..">
              </div>
          </div>
          <!-- End search-box -->
      </div>
      <!-- end p-4 -->

      <!-- Start contact lists -->
      <%- include('contacts_list/contacts_list.ejs') %> 
      <!-- End contact lists -->

  </div>
  <!-- End Contact content -->

</div>