<div class="w-100">
    <!-- start chat user head -->
    <%- include('user_chat_head/user_chat_head.ejs') %> 
    <!-- end chat user head -->

    <!-- start chat conversation -->
    <%- include('chat_session/chat_session.ejs') %> 
    <!-- end chat conversation end -->
    
    <!-- start chat input section -->
    <%- include('chat_input/chat_input.ejs') %> 
    <!-- end chat input section -->
</div>