<div class="user-profile-sidebar" data-uid="01658669438" >
  <div class="px-3 px-lg-4 pt-3 pt-lg-4">
      <div class="user-chat-nav text-right">
          <button type="button" class="btn nav-btn" id="user-profile-hide">
              <i class="ri-close-line"></i>
          </button>
      </div>
  </div>

  <div class="text-center p-4 border-bottom">
      <div class="mb-4">
          <img src="assets/images/users/avatar-4.jpg" class="user-profile-avatar rounded-circle avatar-lg img-thumbnail" alt="">
      </div>

      <h5 class="user-profile-username font-size-16 mb-1 text-truncate">Nguyễn Văn Hải</h5>
      <p class="text-muted text-truncate mb-1"><i class="ri-record-circle-fill font-size-10 text-success mr-1"></i> Đang hoạt động</p>
  </div>
  <!-- End profile user -->

  <!-- Start user-profile-desc -->
  <div class="p-4 user-profile-desc" data-simplebar>
      <div id="profile-user-accordion" class="custom-accordion">
          <!-- Start About card -->
          <div class="card shadow-none border mb-2">
              <a href="#collapseOne" class="text-dark" data-toggle="collapse"
                              aria-expanded="true"
                              aria-controls="collapseOne">
                  <div class="card-header" id="headingOne">
                      <h5 class="font-size-14 m-0">
                          <i class="ri-user-2-line mr-2 align-middle d-inline-block"></i> Hồ sơ
                          <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                      </h5>
                  </div>
              </a>

              <div id="collapseOne" class="collapse show"
                      aria-labelledby="headingOne" data-parent="#profile-user-accordion">
                  <div class="card-body">
                      <div class="mt-4">
                          <p class="text-muted mb-1">Email</p>
                          <h5 class="user-profile-email font-size-14">adc@123.com</h5>
                      </div>

                      <div class="mt-4">
                          <p class="text-muted mb-1">Tuổi</p>
                          <h5 class="user-profile-age font-size-14">20</h5>
                      </div>

                      <div class="mt-4">
                        <p class="text-muted mb-1">Địa chỉ</p>
                        <h5 class="user-profile-address font-size-14">Nam định</h5>
                        </div>

                      <div class="mt-4">
                          <p class="text-muted mb-1">Lớp</p>
                          <h5 class="user-profile-class font-size-14 mb-0">Chưa cập nhập</h5>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End About card -->

          <!-- Start Attached Files card -->
          <div class="card mb-1 shadow-none border">
              <a href="#collapseTwo" class="text-dark collapsed" data-toggle="collapse"
                              aria-expanded="false"
                              aria-controls="collapseTwo">
                  <div class="card-header" id="headingTwo">
                      <h5 class="font-size-14 m-0">
                          <i class="ri-attachment-line mr-2 align-middle d-inline-block"></i> Tệp đính kèm
                          <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                      </h5>
                  </div>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                      data-parent="#profile-user-accordion">
                  <div class="card-body">
                      
                      <!-- end card -->
                  </div>
  
              </div>
          </div>
          <!-- End Attached Files card -->

          <!-- Start Image Files card -->
          <div class="card mb-1 shadow-none border">
            <a href="#collapseThree" class="text-dark collapsed" data-toggle="collapse"
                            aria-expanded="false"
                            aria-controls="collapseThree">
                <div class="card-header" id="headingTwo">
                    <h5 class="font-size-14 m-0">
                        <i class="ri-image-fill align-middle mr-1"></i> Ảnh
                        <i class="mdi mdi-chevron-up float-right accor-plus-icon"></i>
                    </h5>
                </div>
            </a>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#profile-user-accordion">
                <div class="card-body">
                    <!-- <div class="card p-2 border mb-2">
                        <div class="media align-items-center">
                            <div class="avatar-sm mr-3">
                                <a class="popup-img d-inline-block m-1" href="assets/images/small/img-1.jpg" title="11:08 17 Tháng 10, 2020">
                                    <img src="assets/images/small/img-1.jpg" alt="" class="rounded border">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="text-left">
                                    <h5 class="font-size-14 mb-1">Image-1.jpg</h5>
                                </div>
                            </div>

                            <div class="ml-4">
                                <ul class="list-inline mb-0 font-size-18">
                                    <li class="list-inline-item">
                                        <a href="JavaScript:void(0);" class="text-muted px-1">
                                            <i class="ri-download-2-line"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item dropdown">
                                        <a class="dropdown-toggle text-muted px-1" href="JavaScript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="JavaScript:void(0);">Chuyển tiếp</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="JavaScript:void(0);">Xóa</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                    <!-- end card -->
                </div>

            </div>
        </div>
        <!-- End Image Files card -->
      </div>
      <!-- end profile-user-accordion -->
  </div>
  <!-- end user-profile-desc -->
</div>