<div class="p-3 p-lg-4 border-bottom">
  <div class="row align-items-center">
      <div class="col-sm-4 col-8">
          <div class="media align-items-center">
              <div class="d-block d-lg-none mr-2">
                  <a href="javascript: void(0);" class="user-chat-remove text-muted font-size-16 p-2"><i class="ri-arrow-left-s-line"></i></a>
              </div>
              <div class="mr-3">
                  <img src="assets/images/users/avatar-4.jpg" class="rounded-circle avatar-xs" alt="">
              </div>
              <div class="media-body overflow-hidden">
                  <h5 class="font-size-16 mb-0 text-truncate"><a href="#" class="text-reset user-profile-show">Doris Brown</a> <i class="ri-record-circle-fill font-size-10 text-success d-inline-block ml-1"></i></h5>
              </div>
          </div>
      </div>
      <div class="col-sm-8 col-4">
          <ul class="list-inline user-chat-nav text-right mb-0">
              
              <li class="list-inline-item">
                  <div class="dropdown">
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ri-search-line"></i>
                      </button>
                      <div class="dropdown-menu p-0 dropdown-menu-right dropdown-menu-md">
                          <div class="search-box p-2">
                              <input type="text" class="form-control bg-light border-0" placeholder="Search..">
                          </div>
                      </div>
                  </div>
              </li>

              <li class="list-inline-item d-none d-lg-inline-block">
                  <button type="button" class="btn nav-btn user-profile-show">
                      <i class="ri-user-2-line"></i>
                  </button>
              </li>

              <li class="list-inline-item">
                  <div class="dropdown">
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ri-more-fill"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item d-block d-lg-none user-profile-show" href="#">View profile <i class="ri-user-2-line float-right text-muted"></i></a>
                          <a class="dropdown-item" href="#">Archive <i class="ri-archive-line float-right text-muted"></i></a>
                          <a class="dropdown-item" href="#">Muted <i class="ri-volume-mute-line float-right text-muted"></i></a>
                          <a class="dropdown-item" href="#">Delete <i class="ri-delete-bin-line float-right text-muted"></i></a>
                      </div>
                  </div>
              </li>
              
          </ul>
      </div>
  </div>
</div>