<div class="p-3 p-lg-4 border-bottom">
  <div class="row align-items-center">
      <div class="col-sm-4 col-8">
          <div class="media align-items-center">
              <div class="d-block d-lg-none mr-2">
                  <a href="javascript: void(0);" class="user-chat-remove text-muted font-size-16 p-2"><i class="ri-arrow-left-s-line"></i></a>
              </div>
              <div class="mr-3">
                  <img src="assets/images/users/<%= list_messages[0].partner_avatar %>" class="chat-persional-user-avatar rounded-circle avatar-xs" alt="">
              </div>
              <div class="media-body overflow-hidden">
                  <h5 class="font-size-16 mb-0 text-truncate"><a href="JavaScript:void(0);" class="chat-persional-username text-reset user-profile-show"><%= list_messages[0].partner_username %></a> <i id="dot-status-user-inchat-frame" class="ri-record-circle-fill font-size-10 text-secondary d-inline-block ml-1"></i></h5>
              </div>
          </div>
      </div>
      <div class="col-sm-8 col-4">
          <ul class="list-inline user-chat-nav text-right mb-0">
              
              <li class="list-inline-item">
                  <div class="dropdown">
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ri-search-line"></i>
                      </button>
                      <div class="dropdown-menu p-0 dropdown-menu-right dropdown-menu-md">
                          <div class="search-box p-2">
                              <input type="text" class="form-control bg-light border-0" placeholder="Search..">
                          </div>
                      </div>
                  </div>
              </li>

              <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target="#audiocallModal" >
                    <i class="ri-phone-line"></i>
                </button>
              </li> 

              <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0" style="position: relative;">
                    <button id="btn-video-call" type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target="#videocallModal">
                        <i class="ri-vidicon-line"></i>
                        <!-- <i class="fa fa-circle have-a-zoom-meeting" aria-hidden="true"></i> -->
                    </button>
              </li>

              <li class="list-inline-item d-none d-lg-inline-block">
                  <button type="button" class="btn nav-btn user-profile-show">
                      <i class="ri-user-2-line"></i>
                  </button>
              </li>

              <li class="list-inline-item">
                  <div class="dropdown">
                      <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ri-more-fill"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item d-block d-lg-none user-profile-show" href="JavaScript:void(0);">View profile <i class="ri-user-2-line float-right text-muted"></i></a>
                          <a class="dropdown-item" href="JavaScript:void(0);">Archive <i class="ri-archive-line float-right text-muted"></i></a>
                          <a class="dropdown-item" href="JavaScript:void(0);">Muted <i class="ri-volume-mute-line float-right text-muted"></i></a>
                          <a class="dropdown-item" href="JavaScript:void(0);">Delete <i class="ri-delete-bin-line float-right text-muted"></i></a>
                      </div>
                  </div>
              </li>
              
          </ul>
      </div>
  </div>
</div>