<div class="p-4 chat-message-list chat-group-list" data-simplebar>
  <ul class="list-unstyled chat-list">
      <li>
          <a href="#">
              <div class="media align-items-center">
                  <div class="chat-user-img mr-3">
                      <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                              G
                          </span>
                      </div>
                  </div>
                  <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-0">#General</h5>
                  </div>
              </div>
          </a>
      </li>

      <li>
          <a href="#">
              <div class="media align-items-center">
                  <div class="chat-user-img mr-3">
                      <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                              R
                          </span>
                      </div>
                  </div>
                  <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-0">#Reporting <span class="badge badge-soft-danger badge-pill float-right">+23</span></h5>
                  </div>
              </div>
          </a>
      </li>

      <li>
          <a href="#">
              <div class="media align-items-center">
                  <div class="chat-user-img mr-3">
                      <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                              D
                          </span>
                      </div>
                  </div>
                  <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-0">#Designers</h5>
                  </div>
              </div>
          </a>
      </li>

      <li>
          <a href="#">
              <div class="media align-items-center">
                  <div class="chat-user-img mr-3">
                      <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                              D
                          </span>
                      </div>
                  </div>
                  <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-0">#Developers <span class="badge badge-soft-danger badge-pill float-right">New</span></h5>
                  </div>
              </div>
          </a>
      </li>

      <li>
          <a href="#">
              <div class="media align-items-center">
                  <div class="chat-user-img mr-3">
                      <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                              P
                          </span>
                      </div>
                  </div>
                  <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-0">#Project-alpha</h5>
                  </div>
              </div>
          </a>
      </li>

      <li>
          <a href="#">
              <div class="media align-items-center">
                  <div class="chat-user-img mr-3">
                      <div class="avatar-xs">
                          <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                              B
                          </span>
                      </div>
                  </div>
                  <div class="media-body overflow-hidden">
                      <h5 class="text-truncate font-size-14 mb-0">#Snacks</h5>
                  </div>
              </div>
          </a>
      </li>
  </ul>
</div>